{% extends "base.html" %}

{% block content %}
  <h5>Ranking</h5>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Player</th>
        <th class="text-right">Score</th>
        <th class="text-right">2nd chance</th>
      </tr>
    {% for player_scores in players_scores %}
      <tr>
        <td>{{ player_scores.player }}</td>
        <td class="text-right">{{ player_scores.score }}</td>
        <td class="text-right">{{ player_scores.second_chance }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}