{% extends "base.html" %}

{% block content %}
  <h5>Standings</h5>
  <div class-="table-responsive">
    <table class="table">
      <tr>
        <th>Team</th>
        <th class="text-right">W</th>
        <th class="text-right">L</th>
        {% if league.name == 'NFL' %} <th class="text-right">T</th> {% endif %}
        <th class="text-right">PCT</th>
        <th class="text-right">~W</th>
        <th class="text-right">Line</th>
        <th class="text-right">Diff</th>
      </tr>
    {% for team_record in team_records %}
      <tr>
        <td>{{ team_record.team_name }}</td>
        <td class="text-right">{{ team_record.win_count }}</td>
        <td class="text-right">{{ team_record.lose_count }}</td>
        {% if league.name == 'NFL' %} <td class="text-right">{{ team_record.tie_count }}</td> {% endif %}
        <td class="text-right">{{ team_record.win_pct }}</td>
        <td class="text-right">{{ team_record.win_proj }}</td>
        <td class="text-right">{{ team_record.line }}</td>
        <td class="text-right">{{ team_record.diff }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
